.App {
  font-family: sans-serif;
  text-align: center;
  background-color: beige;
}

.NavBar {
  color: black;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  border-style: double;
}
